<form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm)">
  <div formGroupName="event">
    <label>Name: </label>
    <input type="text" formControlName="name"/>
    <label>Street Address: </label>
    <input type="text" formControlName="st_address"/>
    <label>City: </label>
    <input type="text" formControlName="city"/>
    <label>State: </label>
    <input type="text" formControlName="state"/>
    <label>Zip Code: </label>
    <input type="text" formControlName="zip"/>
    <label>Date: </label>
    <input type="date" formControlName="date"/>
    <label>Time: </label>
    <input type="time" formControlName="time"/>
    <label>Grade Format: </label>
      <select formControlName="g_format" required>
        <option *ngFor = "let f of objectKeys(g_formats)" [value]="f">{{f}}</option>
      </select>
    <label>Work Hour Loss: </label>
    <input type="number" formControlName="work_time_missed"/>
  </div>
  <label>Type:</label>
  <select formControlName="type" required>
    <option *ngFor = "let type of objectKeys(types)" [value]="type">{{type}}</option>
  </select>
  <label>Cost:</label>
  <input type="number" formControlName="cost" required/>
  <label>Description:</label>
  <textarea formControlName="description" required></textarea>
  <label>Justification:</label>
  <textarea formControlName="justification" required></textarea>
  <button type="submit">submit</button>
</form>
